<h1>Listing assigns</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Teamname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assigns.each do |assign| %>
      <tr>
        <td><%= assign.member %></td>
        <td><%= assign.teamname %></td>
        <td><%= link_to 'Show', assign %></td>
        <td><%= link_to 'Edit', edit_assign_path(assign) %></td>
        <td><%= link_to 'Destroy', assign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assign', new_assign_path %>
